<!-- app/templates/auth/login.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="container">
  <br/>
  <!-- menampilkan pesan yang di flash dari code -->
  {{ utils.flashed_messages() }}
  <br/>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Login to your account</div>

                <div class="card-body">
                  <!-- menampilkan template form dengan kolom tertentu dari forms.py -->
                  {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}