<!-- app/templates/admin/tasks/tasks.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Tasks</h1>
        {% if tasks %}

        <div class="container">
          <div class="row">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">Created By</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                      {% for task in tasks %}
                        <tr>
                          <td> {{ task.title }} </td>
                          <td> {{ task.description }} </td>
                          <td>
                            {% if task.get_user() %}
                              {{ task.get_user().first_name }} {{ task.get_user().last_name }}
                            {% else %}
                              Unknown?
                            {% endif %}
                          </td>
                          {% if curr_usr.is_admin or curr_usr.id == task.user_id %}
                          <td>
                            <a href="{{ url_for('user.edit_task', id=task.id) }}" class="btn btn-warning btn-lg">
                              <i class="fa fa-pencil"></i> Edit 
                            </a>
                          </td>
                          <td>
                            <a href="{{ url_for('user.delete_task', id=task.id) }}" class="btn btn-danger btn-lg">
                              <i class="fa fa-trash"></i> Delete 
                            </a>
                          </td>
                          {% else %}
                          <td style="background-color: #aec251; color: white;">
                              Forbidden 
                          </td>
                          <td style="background-color: #aec251; color: white;">
                              Forbidden
                          </td>
                          {% endif %}

                        </tr>
                      {% endfor %}
              </tbody>
            </table> 
          </div>
        </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No tasks have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('user.add_task') }}" class="btn btn-primary btn-lg">
            <i class="fa fa-plus"></i>
            Add Task
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}